.container {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
  background-color: rgb(141, 204, 16);
  border-radius: 10px;
  position: relative;
}

.input {
  padding: 16px;
}

.innerInput {
  padding: 17px;
  border-radius: 10px;
}

.btnContainer {
  display: flex;
}

.btn {
  padding: 5px;
  border-radius: 10px;
  margin: 10px;
  justify-content: center;
  align-items: center;
}
